---
import './card-portfolio.css';
const {
	title,
	descripcion,
	imgSrc,
	skills,
	demoURL,
	averageBrightness,
	imgPosition = 'center 0',
} = Astro.props;
---

<div class="card__portfolio">
	<img
		src={imgSrc}
		alt={title}
		crossorigin="anonymous"
		height={130}
		width={332}
		loading="lazy"
		average-brightness={averageBrightness}
		style={`object-position: ${imgPosition}`}
	/>

	<div class="descripcion__container">
		<h2 class="card__title">{title}</h2>
		<div class="descripcion bg-black">
			<p>{descripcion}</p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

			<div class="buttons">
				{demoURL && (
					<a href={demoURL} target="_blank" rel="nofollow noreferrer noopener">
						<span>
							Ver Sitio
							{(<iconify-icon icon="quill:link-out" />)}
						</span>
					</a>
				)}
			</div>
		</div>
	</div>
</div>
